.details-title {
    margin-bottom: 0.7em;
}

.details-image {
    margin-bottom: 1em;
    height: 290px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-nav {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--light-grey);
}

.details-genres {
    margin-bottom: 1em;
}

.details-date {
    margin-bottom: 1em;
    font-style: italic;
    font-weight: bold;
    display: block;
}

.creator-details {
    padding-top: 15px;
}

.creator-image {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
}

.game-count {
    color: var(--primary-colour);
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 600px) {
    .creator-detail-container {
        display: flex;
    }

    .creator-image {
        margin-left: 0;
        transform: translateX(0);
    }

    .creator-details {
        padding-top: 0;
        padding-left: 15px;
    }
}
