body {
    background: #e8e8e8;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    color: var(--footer) !important;
    font-size: 12px;
}

.container {
    margin-top: 40px;
}

.container.results {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.primary {
    color: var(--primary-colour);
}

.bg-dark {
    background-color: var(--grey) !important;
}
