body {
    background: #e8e8e8;
    font-family: "Open Sans", sans-serif;
}

.container {
    margin-top: 40px;
}

.container.results {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.primary {
    color: var(--primary-colour);
}

.bg-dark {
    background-color: var(--grey) !important;
}
