.btn-secondary {
    background-color: var(--grey);
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-secondary:focus,
.btn-secondary:active {
    background-color: var(--grey);
    border: none;
    box-shadow: none;
}

.btn-secondary:active:focus {
    box-shadow: none;
}

.btn-secondary.active {
    background-color: var(--primary-colour) !important;
    border-color: var(--primary-colour) !important;
}

.timeout {
    font-weight: bold;
    font-size: 1.1em;
}

.timeout.primary {
    color: var(--primary-colour); 
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--primary-colour); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }